{% extends "base.html" %}
{% block body %}
    {{ flash_message() }}
    {{ htwg_icon('Anleitungen') }}
    <div class="grid grid-rows-1 gap-4 my-4">
        <a href="/docs/FileName_v1" target=”_blank”
           class="text-blue-600 hover:underline">Dokumentationen liest doch wirklich niemand...</a>
    </div>
{% endblock %}
{% block additional_footer_links %}
    <a href="https://github.com/jonaboecker/turingmaschine" target=”_blank” class="text-white hover:underline">Vollständige Doku</a>&#x2022;
{% endblock %}
