{% extends "base.html" %}
{% block extraScript %}
    <script src="{{ url_for('static', filename='js/programm_selection.js') }}"></script>
    <!--PWA-->
    <meta name="theme-color" content="#020617"/>
    <link rel="manifest" href="{{ url_for('static', filename='pwa/manifest.json') }}">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register("/service-worker.js").then(function (registration) {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
    <!--PWA-End-->
{% endblock %}
{% block body %}
    {{ flash_message() }}
    {{ htwg_icon("Turing Maschine zum Anfassen") }}
    <div class="grid grid-cols-1 divide-y gap-4 my-4">
        <div class="flex flex-col gap-4">
            <form action="/upload" method="post" enctype=multipart/form-data>
                <div>
                    <input class="block w-full text-lg text-gray-900 border border-gray-300
                    rounded-lg cursor-pointer bg-gray-50 focus:outline-none" id="file"
                           name=file required type="file" accept=".txt">
                    <p class="mb-2 text-sm text-gray-500" id="file_input_help">
                        Erlaubter Dateityp .txt</p>
                    {{ select_field(id='language',
                                    label='Sprache',
                                    values=languages,
                                    required=true) }}
                    <button
                            class="mt-2 bg-orange-400 hover:bg-orange-700 text-white font-bold
                            py-1.5 px-3 border border-orange-700 rounded"
                            type="submit">
                        Neues Programm hochladen
                    </button>
                </div>
            </form>
        </div>
        <div class="flex flex-col gap-4">
            <div class="mt-4">
                {{ select_field(id='programm',
                                label='Programm',
                                values=programms,
                                required=true) }}
            </div>

            <div class="flex flex-row gap-x-4">
                <div>
                    <button
                            class="bg-orange-400 hover:bg-orange-700 text-white font-bold py-1.5 px-3
                    border border-orange-700 rounded"
                            onclick="programm_selection('run')">
                        Start
                    </button>
                </div>
                <div>
                    <button
                            class="bg-orange-400 hover:bg-orange-700 text-white font-bold py-1.5 px-3
                    border border-orange-700 rounded"
                            onclick="programm_selection('delete')">
                        Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
