{% extends "base.html" %}
{% block extraScript %}
    <!--PWA-->
    <meta name="theme-color" content="#020617"/>
    <link rel="icon" href="{{ url_for('static', filename='pwa/icons/ios/144.png') }}"
          type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='pwa/icons/ios/192.png') }}"
          type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='pwa/icons/ios/512.png') }}"
          type="image/png">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='pwa/icons/ios/144.png') }}"
          type="image/png">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='pwa/icons/ios/192.png') }}"
          type="image/png">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='pwa/icons/ios/512.png') }}"
          type="image/png">
    <link rel="manifest" href="{{ url_for('static', filename='pwa/manifest.json') }}">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register("/service-worker.js").then(function (registration) {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
    <!--PWA-End-->
{% endblock %}
{% block body %}
    {{ flash_message() }}
    {{ htwg_icon("Turing Maschine zum anfassen") }}
    <div class="grid grid-rows-1 gap-4 my-4">
        <div>
            <h2 class="text-xl font-semibold text-left my-1">Hello World</h2>
            <div class="">
                <p>Hier könnte Ihre Werbung stehen!</p>
            </div>
        </div>
        <div class="mb-2">
            <h2 class="text-xl font-semibold text-left my-1">Dokumentation</h2>
            <button
                    class="bg-orange-400 hover:bg-orange-700 text-white font-bold py-1.5 px-3 border border-orange-700 rounded">
                <a href="/docs" class="">Anleitungen anzeigen</a>
            </button>
        </div>
    </div>
{% endblock %}
