{% extends "base.html" %}

{% block extraScript %}
    <!-- Socket.IO Bibliothek -->
    {#    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <!-- Deine Websocket-Logik -->
    <script src="{{ url_for('static', filename='js/websocket_running_machine.js') }}"></script>
{% endblock %}

{% block body %}
    {{ flash_message() }}
    {{ htwg_icon("Es bewegt sich") }}

    <div class="flex flex-col items-center justify-center my-8">
        <!-- Title -->
        <h1 id="program_name" class="text-2xl font-bold mb-4">{{ infos.program_name }}</h1>

        <!-- Errors -->
        <div id="errors" class="">
            {% for error in infos.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>


        <!-- State display -->
        <div class="text-lg font-medium">State: <span id="state"
                                                      class="italic">{{ infos.state }}</span></div>
        <div class="text-sm text-gray-500">Steps: <span id="steps"
                                                        class="italic">{{ infos.step }}</span></div>

        <!-- Controls -->
        <div class="flex items-center gap-4 mt-4">
            <button id="resume_button"
                    class="{% if infos.run and not infos.pause %} bg-blue-500 text-white {% else %} bg-gray-300 {% endif %}
                    bg-blue-500 px-4 py-2 rounded">&#9654; Play
            </button>
            <button
                    id="pause_button"
                    class="{% if infos.pause %} bg-blue-500 text-white {% else %} bg-gray-300 {% endif %}
                    bg-blue-500 px-4 py-2 rounded">&#9208;Pause
            </button>
            <button
                    id="stop_button"
                    class="{% if infos.should_stop %} bg-blue-500 text-white {% else %} bg-gray-300 {% endif %}
                    bg-blue-500 px-4 py-2 rounded">&#9209;Stop
            </button>
        </div>

        <!-- Speed Control -->
        <div class="flex items-center mt-6 gap-4">
            <label for="speed" class="text-sm font-medium">Speed:</label>
            <input type="range" id="speed" name="speed" min="1" max="10" class="w-48"
                   value="{{ infos.speed }}">
        </div>
    </div>
{% endblock %}
