{% macro input_field( id,
                        label,
                        type = 'text',
                        value = '',
                        required = false,
                        disabled = false,
                        pattern = '',
                        patternHint = '') -%}
    {%- set required_attribute = 'required' if required else '' -%}
    {%- set disabled_attribute = 'disabled' if disabled else '' -%}
    {%- set pattern_attribute = 'pattern="' ~ pattern ~ '"' if pattern else '' -%}
    {%- set pattern_hint_attribute = 'title="' ~ patternHint ~ '"' if patternHint else '' -%}

    <div id="input_div_{{ id }}" class="relative w-full h-11">
        <input
                id="{{ id }}"
                name="{{ id }}"
                type="{{ type }}"
                value="{{ value }}"
                {{ required_attribute }}
                {{ disabled_attribute }}
                {{ pattern_attribute }}
                {{ pattern_hint_attribute }}
                {% if type == 'number' %}
                step="1" min="1"
                {% endif %}
                class="peer w-full h-full bg-transparent outline outline-0 focus:outline-0
                disabled:bg-gray-200 transition-all border focus:border-2 border-t-transparent
                focus:border-t-transparent placeholder-shown:border placeholder-shown:border-gray-700
                text-sm px-3 py-2.5 rounded-[7px] border-gray-700 focus:border-blue-500"
                placeholder=" "/>
        <label
                for="{{ id }}"
                class="flex w-full h-full select-none pointer-events-none absolute left-0
                 !overflow-visible truncate leading-tight peer-focus:leading-tight  transition-all
                 -top-1.5 peer-placeholder-shown:text-sm text-[11px] peer-focus:text-[11px]
                 before:content[' '] before:block before:box-border before:w-2.5 before:h-1.5
                 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent
                 before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l
                 peer-focus:before:border-l-2 before:pointer-events-none before:transition-all
                 after:content[' '] after:block after:flex-grow after:box-border after:w-2.5
                 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent
                 after:rounded-tr-md after:border-t peer-focus:after:border-t-2
                 after:border-r peer-focus:after:border-r-2 after:pointer-events-none
                 after:transition-all  peer-placeholder-shown:leading-[3.75]
                 peer-focus:text-blue-500 before:border-gray-700 peer-focus:before:!border-blue-500
                 after:border-gray-700 peer-focus:after:!border-blue-500">
            {{ label }}
        </label>
    </div>
{%- endmacro %}